h1 {
    background-color: #000;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin-bottom: 5px;
    font-size: 40px;        
}
#title{
 color: cyan;
}

#subtitle {
    background-color: rgb(71, 15, 94);
    color: white;
    font-size: 30px;
    text-align: center;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 0px;
}

#contact {
    background-color: rgb(149, 182, 241);
    text-align: right;
    text-decoration: underline;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 5px;
    padding: ;
}