body {
    background-color: #ccc;
}
.container {
    background-color: #000;
    border: rgb(238, 177, 206);
    border-style: dashed;
    margin: auto;
    width: 800px;
}
.container h1 {
    font-family:'Petit Formal Script', cursive;
    font-size: 50px;
    text-align: center;
    color: #000;
    background-color: rgb(238, 177, 206);
    margin: 10px;
}

.container .r1 {
    background-color: rgb(235, 159, 195);
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
}

.container .r2 {
    background-color: rgb(221, 147, 181);
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 5px;
}

.container .r3 {
    background-color: rgb(209, 135, 170);
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 5px;
}