.row {
    display: flex;
}

.col {
    background-color: pink;
    flex: 1;
    padding: 20px;
    margin: 10px;
}

.col-2 {
    background-color: pink;
    flex: 2;
    padding: 20px;
    margin: 10px;
}

.col-3 {
    background-color: pink;
    flex: 5;
    padding: 20px;
    margin: 10px;
}