.container{
    display: inline-block;
    width: contain;
    height: contain;
    background-color: silver;
    padding: 10px;
}
.top-nav {
    height: 100px;
    width: 680px;
    background-color: green;
    vertical-align: top;
}
.side-nav {
    display: inline-block;
    height: 240px;
    width: 150px;
    background-color: blue;
    vertical-align: top;
    margin-right: 15px;
    margin-top: 10px;
}
.main {
    display: inline-block;
    height: 300px;
    width: 500px;
    background-color: red;
    margin-top: 10px;
    padding-right: 10px;
}
.sub-content {
    display: inline-block;
    height: 130px;
    width: 130px;
    background-color: yellow;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    vertical-align:top;
}
#advertisement {
    display: inline-block;
    height: 80px;
    width: 450px;
    background-color: purple;
    margin-top: 40px;
    margin-left: 20px;
}

