body {
    width: 1000px;
    font-family: 'Roboto', sans-serif;
}

.nav {
    background-color: darkgray;
    width: 600px;
    display: flex;
}

.nav-title {
    color: white;
    width: 200px;
    font-size: 20px;
    margin: 10px;
}

.nav-links {
    color: white;
    font-size: 13px;
    width: 500px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.btn {
    background-color: rgb(35, 88, 88);
    color: white;
    border-style: solid;
    border-color: black;
    margin-right: 10px;
    box-shadow: 4px 5px 2px black;
}