* {
    padding: 0px;
    margin: 0px;
}
body {
    background-color: white;
    width: 500px;
    font-family: 'Roboto', sans-serif;
    margin: auto;
}

.user-card {
    border: 5px solid lightgray;
    margin-top: 20px;
}

.header {
    background-image: url(icons/banner.jpeg);
    height: 70px;
}

.icon {
    border: 3px solid lightgray;
    background-image: url(icons/user-circle.png);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-size: cover;
    margin-left: 20px;
    margin-top: -40px;
}

.name {
    font-size: 20px;
    font-family: ;
    margin: 10px;
    margin-left: 10px;
}

.location {
    height: 20px;
    width: 400px;
    margin: 2px;
    display: flex;
    margin-left: 10px;
}

.location img {
    height: 15px;
    width: 15px;
    margin-left: 5px;
}

.location p {
    font-size: 15px;
    margin-left: 10px;
}

.about {
    margin: 10px;
    font-size: 15px;
}

.about p {
    margin-left: 10px;
}

.edit {
    display: flex;
    width: 400px;
    margin-left: 10px;
}

.edit img {
    height: 15px;
    width: 15px;
    margin: 10px;
}

.edit a {
    list-style-type: none;
    margin-top: 10px;
    font-size: 15px;
}